.home-screen {
	.my-pic {
		height: 320px;
		width: 708px;
	}

	.skill-badge {
		padding: 0.85rem 2rem;
		margin: 0.3rem 0.5rem 0 0;
		font-size: 0.75rem;
		background: rebeccapurple;
	}

	.experience {
		border: 1px solid rebeccapurple;
		padding: 1.5rem 2.5rem;
		border-radius: 1.2rem;
		background: rgba(255, 255, 255, 0.12);
		.exp-desc {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden;
		}
	}
	.cursor-pointer {
		cursor: pointer;
	}

	i{
		display: inline-block;
		height: 1.5rem;
		width: 1.5rem;
		margin-right: 1.5rem;
		font-size: 2rem;
	}
	.my-links{
		a {
			color: black;
		}
	}
}
